@import url('https://fonts.cdnfonts.com/css/booter');

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@import url('https://fonts.googleapis.com/css?family=Metal+Mania');

/* font-family: 'Booter - Five Five', sans-serif;
font-family: 'Booter - Five One', sans-serif;
font-family: 'Booter - Five Zero', sans-serif;
font-family: 'Booter - One Five', sans-serif;
font-family: 'Booter - One One', sans-serif;
font-family: 'Booter - One Zero', sans-serif;
font-family: 'Booter - Zero Five', sans-serif;
font-family: 'Booter - Zero One', sans-serif;
font-family: 'Booter - Zero Zero', sans-serif; */

/* font-family: Raleway; */

/* font-family: 'Metal Mania'; */

* {
	box-sizing: border-box;
	font-family: Raleway;
	color: #777;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* Header */
h1 {
	font-family: 'Booter - Zero Zero', sans-serif;
}

.nav ul {
	margin: 0;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 0.5em;
	color: white;
	text-decoration: none;
}

.main-nav {
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
	padding: 0 5%;
}

.nav a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
	background-image: url(./images/bg-img.jpg);
	background-blend-mode: multiply;
	background-size: cover;
	padding-bottom: 30px;
}

.band-name {
	text-align: center;
	margin: 0;
	font-size: 4em;
	font-family: 'Booter - Zero Zero';
	font-weight: normal;
	color: white;
}

.vocal {
	text-align: center;
	font-size: 2em;
	color: #999;
	font-weight: 700;
}

.band-name-large {
	font-size: 8em;
}

/* Main Section */

.content-section {
	margin: 1em;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1.5em;
}

.section-header {
	font-family: 'Metal Mania';
	font-weight: normal;
	color: #333;
	text-align: center;
	font-size: 2.5em;
}

.about-band-image {
	float: left;
	height: 200px;
	width: 200px;
	margin: 15px;
	border-radius: 50%;
}

/* Footer */

.main-footer {
	background-color: #56ccf2;
	color: white;
	padding: 0.25em 0;
	margin-top: 70px;
}

.main-footer-container {
	display: flex;
	align-items: center;
}

.main-footer-container ul {
	flex-grow: 1;
	text-align: end;
}

.footer-nav li {
	padding: 0.5em;
}

.footer-nav img {
	width: 30px;
	height: 30px;
}
